.customer-list a {
    text-decoration: none;
}

.customer-entry {
    margin: 10px 0px 10px 0px;
    padding: 16px 24px;
    background-color: #0058a3;
    color: white;
    border-radius: 2px;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    border: 1px solid #ddd;
}

.customer-entry:hover {
    background-color: #407ab1;
    -webkit-box-shadow: 0 13px 21px -5px rgba(0,0,0,.2);
    box-shadow: 0 13px 21px -5px rgba(0,0,0,.2);
}